[Unit]
Description=Atella. Agent for distributed checking servers status.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/atella
User=atella
Group=atella
Restart=always
TimeoutStopSec=30s
LimitMEMLOCK=infinity
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
